* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: fill;
}

.container {
    width: 100%;
    margin: auto;
}


@import 'Fun/navbar', 'Fun/Palettes';