@media screen and (min-width: 325px) {
    .linear {
        &-result {
            &-card {
                .colorname {
                    span {
                        font-size: 0.8rem;

                        .iconCopy {
                            font-size: 0.7rem;
                        }
                    }

                    .fullscreen {
                        font-size: 0.8rem;
                    }
                }

                .colorbackground {
                    box-shadow: 0 4px 15px rgba(68, 68, 68, 0.288);
                    width: 160px;
                    height: 220px;
                    border-radius: 0.3rem;
                }
            }
        }
    }

    .home {
        padding: 1.5rem;

        .row {
            .image {
                .bg-image {}
            }
        }
    }


}


@media screen and (min-width: 585px) {
    .linear {
        &-result {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }
    }

}

@media screen and (min-width: 800px) {
    .home {
        .row {
            .col {
                .image {
                    height: 60vh !important;
                }
            }
        }
    }
}


@media screen and (min-width: 1000px) {
    .home {
        padding: 3rem;

        .row {
            grid-template-columns: repeat(2, minmax(300px, 1fr));

            .col {
                // height: 60vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .image {
                    height: 80vh !important;

                    .bg-image {
                        // width: 400px !important;
                    }
                }
            }
        }
    }


    .home {
        .row {
            grid-template-columns: 1fr 2fr;

            .col {

                &:first-child {
                    order: 0;
                }

                &:last-child {
                    order: 1;
                }

                // height: 60vh;
                display: flex;
                align-items: center;
                justify-content: center;

                .image {
                    height: 80vh !important;

                    .bg-image {
                        // width: 400px !important;
                    }
                }

                .content {
                    .header {
                        font-size: 4.5rem;
                        text-align: center;
                        line-height: 5rem;
                    }

                    .link {
                        width: 65% !important;
                    }
                }
            }
        }
    }
}