@media screen and (min-width: 325px) {
    .linear {
        &-result {
            &-card {
                .colorname {
                    span {
                        font-size: 0.8rem;

                        .iconCopy {
                            font-size: 0.7rem;
                        }
                    }

                    .fullscreen {
                        font-size: 0.8rem;
                    }
                }

                .colorbackground {
                    box-shadow: 0 4px 15px rgba(68, 68, 68, 0.288);
                    width: 160px;
                    height: 220px;
                    border-radius: 0.3rem;
                }
            }
        }
    }
}


@media screen and (min-width: 585px) {
    .linear {
        &-result {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }
    }
}